html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);

    --header-bg: #171C28;
    --top-act-group-bg: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-btn-separate: #EDEDF6;
}